.MenuAbout {
    /* border: 1px solid green; */
    background-color: black;
    display: block;
    height: 50vh;
    text-align: center;
    width: 100%;
    margin-bottom: -50px;
}

.text {
    /* display: flex; */
    font-size: 30px;
    padding: 100px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
 
}
.MenuAbout .text span{
    color: rgb(231, 175, 71);
    font-size: 45px;
}

.MenuAbout .text p{
    color: aliceblue;
    font-size: 15px;
    font-weight: lighter;
}
@media(max-width: 500px){
    .MenuAbout {
        background-color: black;
        display: block;
        height: 40vh;
        text-align: center;
        width: 100%;
        /* margin-left: 35px;
        margin-bottom: -50px; */
        margin-bottom: 50px;
    }  
    .text {
        /* display: flex; */
        font-size: 80px;
        padding: 10px;
        font-weight: bold;
        text-align: center;
        /* justify-content: center; */
     
    }
    .MenuAbout .text span{
        color: rgb(231, 175, 71);
        font-size: 25px;
    }
    
    .MenuAbout .text p{
        color: aliceblue;
        font-size: 15px;
        width: 70%;
        font-weight: lighter;
    }
}