<<<<<<< HEAD
.menuTitle{
    /* font-family: 'Pangolin', cursive; */
    text-align: left;
    width: 100%;
    padding: 2px;
    /* margin-bottom: 50px ; */
    color: rgb(31, 29, 28);
    font-size: 50px;
=======
.menuTitle{
    font-family: 'Pangolin', cursive;
    text-align: center;
    width: 100%;
    padding: 2px;
    margin-bottom: 50px ;
    color: rgb(235, 131, 72);
    font-size: 80px;
>>>>>>> 98bda8a348d48ed5dd034a8e407511c52a0e3934
}