.NavbarItems{
    /* font-family: 'Pangolin', cursive; */
    background-color: rgba(17, 15, 15, 0.993);
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    /* border: 1px solid white; */
    padding: 1px;
    width: 100%;
}
.Toolbar {
    height: 59px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(17, 15, 15, 0.993);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;

}
/* .navbar-logo{
    color: white;
    justify-self: start;
    cursor: pointer;
    margin-left: 0.5rem;
} */

.nav-menu{
   text-decoration: none;
   width: 100%;
   display: block;
}
.nav-links{
    color: aliceblue;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: 17px;
}
/* .nav-menu:hover{

    color: rgb(167, 145, 24);
    border-bottom: 1px solid rgb(168, 154, 73);
} */

li{
    padding: 10px;
}
.ToolbarActive.hover,
.ToolbarActive.active,
.ToolbarActive.active{
    color: orange;
}

@media(min-width: 500px) {
    .NavbarItems{
        background-color: rgba(17, 15, 15, 0.993);
        /* background: linear-gradient(90deg , rgba(10, 10, 10, 0.747) , rgb(13, 14, 14) 100%); */
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        width: auto;
    }
    .navbar-logo{
        color: white;
        justify-self: start;
        cursor: pointer;
        margin-left: 0.5rem;
    }
    .nav-menu{
        display: grid;
        grid-template-columns: repeat(7,auto);
        grid-gap: 10px;
        list-style: none;
        text-align: center;
        width: 70vw;
        justify-content: end;
        margin-right: 2rem;
    }
    .nav-links{
        color: aliceblue;
        text-decoration: none;
        padding: 0.5rem 1rem;
        font-size: 17px;
        height: 100%;
    }
    .nav-links:hover{
    
        color: rgb(238, 217, 95);
        transition: 0.3s ease all;
        border-bottom: 0px solid rgb(168, 154, 73);
    }
    .Logo{
        width: 12%;
    }

}

@media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
} 
