.toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 36px;
    background: transparent;
    border: none;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
}

.toggle-button:focus {
    outline: none;
    cursor: pointer;
}

.toggle-button__line{
    width:30px;
    height: 2px;
    background: white;
}

@media (min-width: 500px) {
    .toggle-button {
        display:none;
    }
}