.container{
    /* background: url('../../assets/images/image.jpg') center no-repeat;
    background-size: cover; */
    background-color: black;
    color: aliceblue;
    justify-content: center;
    align-items: center;
}