.home{
    /* font-family: 'Nothing You Could Do', cursive; */
    display: flex;
    background: url(../../assets/images/background.jpg) center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */
}

.homePic{
    /* border: 1px solid white; */
    width: 500px;
    height: 490px;
    margin-left: 10px;
}
.buttonGroup{
    margin-top: 35px;
    margin-left: 20px;

}
h3{
    font-family: 'Nothing You Could Do', cursive;
    font-size: 50px;
    color: rgb(212, 199, 202);
}
h1 ,h2{
    font-weight: 200;
}
.Quote{
    /* border: 1px solid white; */
    margin-top: -350px;
    margin-left: 610px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Pangolin', cursive;
    font-size: 15px;
}
.orderSpan{
    color: rgb(235, 118, 173);
    font-size: 40px;
    font-weight: 200;
}
.SignInButton{
    position: absolute;
    margin-bottom: 38%;
    margin-left: 92%;
    bottom: 10%;
    border-radius: 8px;
     height:4%;
     text-align: center;
     width: 5%;
     background-color: #eea216;
  
 }
.SignOutButton{
    position: absolute;
    margin-bottom: 38%;
    margin-left: 92%;
    bottom: 10%;
    border-radius: 8px;
     height:4%;
     font-size: large;
     text-align: center;
     width: 5%;
     background-color: #eea216;
  
 }

@media(max-width: 500px){
    .home{
        /* display: flex; */
        background: url(../../assets/images/background.jpg) center;
        background-size: cover;
        width: 100%;
        height: 100vh;
        color: aliceblue;
        /* justify-content: center; */
        /* align-items: center; */
        /* border: 1px solid white; */
    }
    .homePic{
        /* border: 1px solid white; */
        width: 250px;
        height: 250px;
        margin-left: 60px;
        margin-bottom: -109px;
        margin-top: 200px;
    }
    .buttonGroup{
        margin-left: -5px;
    }
    h3{
        font-family: 'Nothing You Could Do', cursive;
        font-size: 25px;
        color: rgb(212, 199, 202);
    }
   
    .Quote{
        margin: 120px 10px;
        /* margin-top: -450px;
        margin-left: 610px;
        margin-bottom: 20px; */
        text-align: center;
        font-family: 'Pangolin', cursive;
        font-size: 10px;
        
    }
    .orderSpan{
        color: rgb(235, 118, 173);
        font-size: 20px;
        margin-bottom: 20px;
    }
    .SignInButton{
        position: absolute;
        margin-bottom: 135%;
        margin-left: 5%;
        bottom: 10%;
        border-radius: 8px;
         height:4%;
         text-align: center;
         width: 22%;
         background-color: #af1268;
      
     }
    .SignOutButton{
        position: absolute;
        margin-bottom: 38%;
        margin-left: 90%;
        bottom: 10%;
        border-radius: 8px;
         height:4%;
         font-size: large;
         text-align: center;
         width: 5%;
         background-color: #af1268;
      
     }
}
