.Heading {
  position: relative;
  text-align: center;
  color: white;
  bottom: -10px;
  width: 100%;
}
.centered {
  position: absolute;
  top: 55%;
  left:150px;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  /* align-items: center; */
}  

.Button{
  margin: 30px;
  position: relative;
  right:35px;
}