.home{
    background: url(../../assets/background.jpg) center;
    background-size: cover;
    opacity: 0.95;
    width: 100%;
    padding: 5px;
    height: 100vh;
    color: aliceblue;
}
.homePic{
    display: inline;
    /* border: 1px solid white; */
    margin: 0 20% 0 ;
    width: 28%;
    height: 15%;
}
.buttonGroup{
    /* border: 1px solid white; */
    /* display: inline-block; */
    margin: 2% 10% 8%;
}
