.MenuAbout {
    background-color: black;
    display: block;
    height: 50vh;
    text-align: center;
    
    width: 100%;
}

.text {
    
    font-size: 30px;
    padding: 100px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
 
}

p{
    font-size: 20px;
    font-weight: lighter;
}